version: '3.8'

services:
  kanban-app:
    build: .
    ports:
      - "3003:3003"
    environment:
      - DATABASE_URL=${DATABASE_URL_DOCKER}
    depends_on:
      - kanban_db

  kanban_db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data:
